.how{
padding:60px;
text-align:center;
}

.steps{
display:flex;
justify-content:center;
gap:30px;
margin-top:40px;
flex-wrap:wrap;
}

.step{
width:200px;
background:#f4f4f4;
padding:20px;
border-radius:10px;
}